@{
    ViewData["Title"] = "Users Area";
}

<div class="text-center">
    <h1 class="display-4">Users Area</h1>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="UserProfile" asp-action="Index">User Profiles</a>
    </li>
</div>
