@model BookVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> @(Model.Book.Id != 0 ? "Update" : "Create") Book</h2>
            </div>
        </div>
    </div>

<div class="card-body p-4">
    <form method="post" class="row" enctype="multipart/form-data">
        <input asp-for="Book.Id" hidden />
        <input asp-for="Book.ImgID" hidden />

        <div class="row">
            <div class="col-10">
                <div asp-validation-summary="All"></div>
                <div class="mb-3 row p-1">
                    <label asp-for="Book.Title" class="p-0"></label>
                    <input asp-for="Book.Title" class="form-control" />
                    <span asp-validation-for="Book.Title" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Book.Description" class="p-0 text-muted"></label>
                    <textarea asp-for="Book.Description" class="form-control"></textarea>

                </div>
                    <div class="mb-3 row p-1">
                        <label asp-for="Book.AuthorId" class="p-0"></label>
                        <Select asp-for="Book.AuthorId" asp-items="@Model.AuthorList" class="form-select  border-0 shadow">
                            <option disabled selected> --Select Author--</option>
                        </Select>
                        <span asp-validation-for="Book.AuthorId" class="text-danger"></span>

                    </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Book.GenreId" class="p-0"></label>
                    <Select asp-for="Book.GenreId" asp-items="@Model.GenreList" class="form-select  border-0 shadow">
                        <option disabled selected> --Select Genre--</option>
                    </Select>
                    <span asp-validation-for="Book.GenreId" class="text-danger"></span>

                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Book.ISBN" class="p-0"></label>
                    <input asp-for="Book.ISBN" class="form-control" />
                    <span asp-validation-for="Book.ISBN" class="text-danger"></span>

                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Book.MSRP" class="p-0"></label>
                    <input asp-for="Book.MSRP" class="form-control" />
                    <span asp-validation-for="Book.MSRP" class="text-danger"></span>

                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Book.YearPublished" class="p-0"></label>
                    <input asp-for="Book.YearPublished" class="form-control" />
                    <span asp-validation-for="Book.YearPublished" class="text-danger"></span>

                </div>
                <div class="form-floating py-2 col-12">
                    <label asp-for="Book.ImgID" class="p-0"></label>
                    <input type="file" name="file" class="form-control border-0 shadow" />
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        @if (Model.Book.Id != 0)
                        {
                            <button type="submit" class="btn btn-primary form-control">Update</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary form-control">Create</button>
                        }
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Book" asp-action="index" class="btn btn-outline-primary border  form-control">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>






            <div class="col-2">
                <img src ="@Model.Book.ImgID" width="100%"
                style="border-radius:5px; border:1px solid #bbb9b9" />
            </div>
        </div>
    
    
    </form>
</div>

@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant"))
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}