@{
    ViewData["Title"] = "User Profile";
}

<div class="text-center">
    <h1 class="display-4">Welcome to User Profile</h1>
    <p>Here I should render the User Profiles. (Arbitrarily)</p>
    <p><a href="/api/User/GetUsers">Get Users (JSON)</a></p>
</div>
